@tailwind base;
@tailwind components;
@tailwind utilities;

.next-img-wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.next-img-wrapper > span {
    width: 100% !important;
    max-height: 100% !important;
}

.next-img-wrapper > span > span {
    width: 100% !important;
    max-height: 100% !important;
}

.next-img-wrapper > span > span > img {
    width: 100% !important;
    max-height: 100% !important;
}
